Position (xyz):&nbsp;&nbsp;
    <input data-property="position" data-key="x" value="<%= myHinge.position.x %>" placeholder="X" class="form-control floatInput hinge" type="text">&nbsp;
    <input data-property="position" data-key="y" value="<%= myHinge.position.y %>" placeholder="Y" class="form-control floatInput hinge" type="text">&nbsp;
    <input data-property="position" data-key="z" value="<%= myHinge.position.z %>" placeholder="Z" class="form-control floatInput hinge" type="text"><br/><br/>
<a id="deleteExitMenu" href="#" class="btn btn-halfWidth btn-lg btn-default"><span class="fui-trash"></span> Delete</a>
<a id="cancelExitMenu" href="#" class="btn btn-halfWidth pull-right btn-lg btn-default">Cancel / Exit</a><br/><br/>
<a id="saveExitMenu" href="#" class="btn btn-block btn-lg pull-right btn-success">Save</a><br/><br/>
